name: Build

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run tests
        run: ./gradlew jvmTest

  build:
    needs: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: android
            runner: macos-latest
            task: ./gradlew assembleRelease
            path: composeApp/build/outputs/apk/release/*.apk

          - name: macos-arm64
            runner: macos-latest
            task: ./gradlew packageReleaseDmg
            path: composeApp/build/compose/binaries/main-release/dmg/*.dmg

          - name: macos-x86_64
            runner: macos-15-intel
            task: ./gradlew packageReleaseDmg
            path: composeApp/build/compose/binaries/main-release/dmg/*.dmg

          - name: linux-x86_64
            runner: ubuntu-latest
            task: ./gradlew packageReleaseDeb
            path: composeApp/build/compose/binaries/main-release/deb/*.deb

          - name: linux-arm64
            runner: ubuntu-24.04-arm
            task: ./gradlew packageReleaseDeb
            path: composeApp/build/compose/binaries/main-release/deb/*.deb

          - name: windows-x86_64
            runner: windows-latest
            task: ./gradlew.bat packageReleaseMsi
            path: composeApp/build/compose/binaries/main-release/msi/*.msi

          - name: windows-arm64
            runner: windows-11-arm
            task: ./gradlew.bat packageReleaseMsi
            path: composeApp/build/compose/binaries/main-release/msi/*.msi

          - name: ios
            runner: macos-latest
            task: cd iosApp && xcodebuild archive -scheme iosApp -archivePath ./build/iosApp.xcarchive -sdk iphoneos CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO
            path: iosApp/build

    runs-on: ${{ matrix.runner }}
    name: Build ${{ matrix.name }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Setup Signing
        id: sign
        if: ${{ matrix.name == 'android' }}
        run: |
          base64 --decode <<< "${{ secrets.RELEASE_KEY }}" > composeApp/release-key.jks
          grep -q '[^[:space:]]' composeApp/release-key.jks && echo release_key_exists=true >> $GITHUB_OUTPUT || echo release_key_exists=false >> $GITHUB_OUTPUT

      - name: Build
        env:
          RELEASE_KEY_EXISTS: ${{ steps.sign.outputs.release_key_exists }}
          RELEASE_KEY_STORE_PASSWORD: ${{ secrets.RELEASE_KEY_STORE_PASSWORD }}
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
        run: ${{ matrix.task }}

      - name: Upload artifact
        if: success()
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.name }}
          path: ${{ matrix.path }}
    