name: Build

on:
  push:
  workflow_call:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: shared UI
            task: ./gradlew :app:shared:jvmTest
          - name: API server
            task: ./gradlew :api:server:test
    runs-on: ubuntu-latest
    name: Test ${{ matrix.name }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run ${{ matrix.name }} tests
        run: ${{ matrix.task }}

  build-app:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: ios
            runner: macos-latest
            task: ./gradlew :builder:buildIosReleaseIpa
          - name: android
            runner: ubuntu-latest
            task: ./gradlew :builder:buildAndroidReleaseApk
          - name: macos-x86_64
            runner: macos-15-intel
            task: ./gradlew :builder:buildMacOSReleaseDmg
          - name: macos-aarch64
            runner: macos-latest
            task: ./gradlew :builder:buildMacOSReleaseDmg
          - name: linux-x86_64
            runner: ubuntu-latest
            task: ./gradlew :builder:buildLinuxReleaseAppImage :builder:buildLinuxReleaseDeb :builder:buildLinuxReleaseRpm
          - name: linux-aarch64
            runner: ubuntu-24.04-arm
            task: ./gradlew :builder:buildLinuxReleaseAppImage :builder:buildLinuxReleaseDeb :builder:buildLinuxReleaseRpm
          - name: windows-x86_64
            runner: windows-latest
            task: ./gradlew.bat :builder:buildWindowsReleaseMsi :builder:buildWindowsReleaseExe && ./gradlew.bat :builder:buildWindowsReleasePortable
          - name: windows-arm64
            runner: windows-11-arm
            task: ./gradlew.bat :builder:buildWindowsReleaseMsi :builder:buildWindowsReleaseExe && ./gradlew.bat :builder:buildWindowsReleasePortable
          - name: webCompat
            runner: ubuntu-24.04-arm
            task: ./gradlew :builder:buildWebCompatReleaseZip

    runs-on: ${{ matrix.runner }}
    name: Build ${{ matrix.name }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: ${{ startsWith(matrix.name, 'windows') && 'jetbrains' || 'zulu' }}
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Setup Signing
        id: sign
        if: ${{ matrix.name == 'android' }}
        run: |
          base64 --decode <<< "${{ secrets.RELEASE_KEY }}" > app/android/release-key.jks
          grep -q '[^[:space:]]' app/android/release-key.jks && echo release_key_exists=true >> $GITHUB_OUTPUT || echo release_key_exists=false >> $GITHUB_OUTPUT

      - name: Build
        env:
          RELEASE_KEY_EXISTS: ${{ steps.sign.outputs.release_key_exists }}
          RELEASE_KEY_STORE_PASSWORD: ${{ secrets.RELEASE_KEY_STORE_PASSWORD }}
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
        run: ${{ matrix.task }}

      - name: Upload artifact
        if: success()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.name }}
          path: builder/build/artifacts/release/${{ matrix.name }}/*

  build-server:
    runs-on: ubuntu-24.04-arm
    needs: build-app
    name: Build server
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: Download webCompat artifact
        uses: actions/download-artifact@v6
        with:
          name: webCompat
          path: builder/build/artifacts/release/webCompat

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew :api:server:buildFatJar

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: server
          path: api/server/build/libs/*.jar